<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
  </head>
  <body>
    <section
      id="section-hero"
      class="w-screen md:h-90v flex flex-col md:flex-row justify-center"
    >
      <div
        class="flex flex-col justify-center items-center md:items-start w-full md:w-1/2 pt-20 px-5 md:px-10 xl:px-20 md:h-90v"
      >
        <p
          class="text-2xl font-medium p-0 my-2 w-full text-center md:text-left"
        >
          RAILS
        </p>
        <h2
          class="text-3xl md:text-7xl font-bold p-0 my-2 w-full text-center md:text-left"
        >
          Developers Meet
        </h2>
        <h2
          class="text-3xl md:text-7xl font-bold p-0 my-2 w-full text-center md:text-left"
        >
          Berlin 2023
        </h2>
        <button
          class="my-12 font-bold border-2 border-solid border-black bg-black text-white hover:bg-white hover:text-black px-3 md:px-10 py-2 rounded-full"
        >
          LEARN MORE
        </button>
      </div>
      <div
        class="flex flex-col justify-center items-center w-full md:w-1/2 h-45v md:h-90v"
      >
        <img
          src="<%= require('./images/Ruby_logo.svg') %>"
          alt="ruby on rails gem logo"
          class="w-1/3 h-1/3 md:w-2/5 md:h-2/5 xl:w-1/3 xl:h-1/3"
        />
      </div>
    </section>
    <section
      id="section-intro"
      class="bg-black text-white w-screen md:h-90v flex flex-col md:flex-row justify-center"
    >
      <div
        class="flex flex-col justify-center items-center md:items-start w-full md:w-1/2 pt-20 px-5 md:px-10 xl:px-20 md:h-90v"
      >
        <h2 class="text-2xl md:text-5xl">
          Connect with like-minded developers
        </h2>
        <div class="border-2 border-grey border-solid my-5 w-full"></div>
        <img
          src="<%= require('./images/Ruby_logo.svg') %>"
          alt="ruby on rails gem logo"
          class="hidden md:block my-10 w-1/5 h-1/5 transform -scale-x-100"
        />
      </div>
      <div
        class="flex flex-col justify-center items-center w-full md:w-1/2 h-45v md:h-90v p-10 xl:px-20"
      >
        <p
          id="intro"
          class="text-1xl md:text-xl xl:text-3xl leading-5 text-justify"
        >
          Mark your calendars for the Rails Developers Meet - a celebration of
          creativity and collaboration among Ruby on Rails enthusiasts. Dive
          into thought-provoking talks from industry experts, exchange ideas
          during interactive breakout sessions, and join us in strengthening the
          Rails community's collective expertise. Whether you're a coding wizard
          or just getting started, everyone's welcome to this inclusive and
          knowledge-packed event!
        </p>
      </div>
    </section>
    <section id="section-events" class="w-screen p-10 md:p-20">
      <h2 class="text-2xl md:text-5xl text-center md:text-left font-bold mb-10">
        Special Events
      </h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 md:h-4/5"
      >
        <div class="md:p-5">
          <img
            src="<%= require('./images/2.png') %>"
            alt="mic image"
            class="w-full m-auto"
          />
          <h4 class="text-2xl md:text-3xl text-left font-bold my-2">
            Seminars
          </h4>
          <p class="text-1xl md:text-2xl text-left">
            More than 10 guest speakers
          </p>
        </div>
        <div class="md:p-5">
          <img
            src="<%= require('./images/3.png') %>"
            alt="laptop image"
            class="w-full m-auto"
          />
          <h4 class="text-2xl md:text-3xl text-left font-bold my-2">
            Hackathons
          </h4>
          <p class="text-1xl md:text-2xl text-left">
            Fun challenges and exciting prizes
          </p>
        </div>
        <div class="md:p-5">
          <img
            src="<%= require('./images/1.png') %>"
            alt="mobile phone image"
            class="w-full m-auto"
          />
          <h4 class="text-2xl md:text-3xl text-left font-bold my-2">
            Connections
          </h4>
          <p class="text-1xl md:text-2xl text-left">
            Make connections with developers
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
